{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
              <p>Cadastre seus personagens.</p>

    {% from "form.html" import render_field %}
    <form class="form-inline" method=post action="/">
          <dl>
              {{ render_field(form.nome) }}
              {{ render_field(form.forca) }}
              {{ render_field(form.inteligencia) }}
              {{ render_field(form.rapidez) }}
          </dl>
          <p><input class="btn btn-default" type=submit value=Register>
          <a class="btn btn-default" href="{{ url_for('play') }}">Play!</a>
    </form>

    <div>
    {% for pokemon in pokemons %}
        <p>{{ pokemon.nome }} | força: {{ pokemon.forca }}, inteligencia: {{ pokemon.inteligencia }}, rapidez: {{ pokemon.rapidez }}</p>
    {% endfor %}
    </div>
{% endblock %}
